<!doctype>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Mon magasin en ligne 100% bons plans</title>
        <!-- Load Vue followed by Vue Router -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/http-vue-loader/src/httpVueLoader.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
          <header>
            <h1>À la bonne franquette</h1>
            <h3  v-if="user.id">Bonjour <i>{{user.email}}</i></h3>
            <nav>
              <router-link to='/register'  v-if="!user.id">Inscription</router-link>
              <router-link to= '/login'  v-if="!user.id"> Identifiez-vous !</router-link>
              <router-link to='/'>Accueil</router-link>
              <router-link to='/panier'>Panier</router-link>
            </nav>
          </header>
          <main>
            <router-view
              :articles="articles"
              :panier="panier"
              @add-article="addArticle"
              @delete-article="deleteArticle"
              @update-article="updateArticle"
              @add-to-panier="addToPanier"
              @remove-from-panier="removeFromPanier"
              @update-from-panier="updateFromPanier"
              @register="register"
              @login="login"
              @pay="pay"
            ></router-view>
          </main>
        </div>
        <script src="/vue-application.js"></script>
    </body>
</html>
